img { height: 300px;}
img{width:  300px;}
h1{color: midnightblue;}
p { color: blueviolet;}
ul{color: rgb(27, 231, 88);}
body{background-color: black;}
body {background-image: url(./221e67379026991425b2addd89559c3f.jpg);}
#lloo {height: 500px; border: 1px solid red;} 

